<div class="panel panel-custom session">
  <div class="panel-heading">
    <p>プラネッツ管理者ログイン</p>
  </div>
  <div class="panel-body">
    <%= form_tag :session do %>
      <%= content_tag :p, @error_title if @error_title %>
      <p><%= text_field_tag :login_name, "", class: "form-control", placeholder: "ログイン名" %></p>
      <p><%= password_field_tag :password, "", class: "form-control", placeholder: "パスワード" %></p>
      <%= hidden_field_tag "from", "", value: @from %>
      <p><%= submit_tag "ログイン", class: "btn label-custom" %></p>
    <% end %>
    <p style="text-align: left;"><%= link_to "パスワード忘れた", "", class: "link" %></p>
    <p style="text-align: left;"><%= link_to "新規作成", "", class: "link" %></p>
    <p style="text-align: left;">
      <%= content_tag :span, class: "facebookLink btn label-custom", id: "facebookButton",
         onclick: "window.open('/auth/facebook','fb','width=700,height=300');return false" do %>
        <%= image_tag "logo/fb_logo.png", size: "20x20", style: "margin-right: 10px;" %>
        Facebookでログイン
      <% end %>
    </p>
  </div>
</div>

<script type="text/javascript">
  $.testFunc = function(val) {
    location = (val);
  };
</script>
