<% @users.each do |user| %>
  <div class="panel panel-custom member">
    <div class="panel-heading">
      <%= link_to user do %>
        <%= user.number %>
        <span style="float: right;" title="<%= user.display_name %>">
          <%= truncate(user.display_name, length: 10) %>
        </span>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="thumbnailBox">
        <div class="noImage">No Image</div>
      </div>
      <div class="descriptionBox">
        <p style="text-align: center;"><%= user.display_age %></p>
        <span title="<%= user.description %>"><%= truncate(user.description, length: 30) %></span>
      </div>
    </div>
  </div>
<% end %>