<div class="panel panel-custom full">
  <div class="panel-heading">
    <p>選手紹介</p>
  </div>
  <div class="panel-body">
    <table class="result" border="1">
      <tr>
        <th>名前</th>
        <th>背番号</th>
        <th>紹介</th>
        <th>生年月日</th>
        <th>歳</th>
      </tr>
      <tr>
        <td><%= @user.display_name %></td>
        <td><%= @user.number %></td>
        <td><%= @user.description %></td>
        <td><%= @user.birthday.strftime("%Y/%m/%d") %></td>
        <td><%= @user.age %></td>
      </tr>
    </table>
  </div>
</div>
<!-- 野手成績 -->
<%= render "users/results" %>