<!-- ゲーム結果 -->
<%= render "games/game" %>
<!-- ピッチャー情報 -->
<%= render "pitcher_results/results" %>
<!-- 野手情報 -->
<%= render "individual_results/results" %>

<div class="panel panel-custom full">
  <div class="panel-heading">
    <p>野手結果入力</p>
  </div>
  <div class="panel-body" style="text-align: center;">
    <%= form_for @result, url: [ @game, :individual_results ], method: :post do |f| %>
      <%- num = Array(0..100) %>
      <% user = User.all.map{|u| u } %>
      <% users = user - @game.individual_results.map{|i| i.user } %>
      <%= render "individual_results/form", f: f, num: num, users: users %>
      <button class="btn btn-lg btn-primary btn-block" type="submit">作成</button>
    <% end %>
  </div>
</div>