<%= link_to "新規作成", :new_game, class: "btn-btn-lg btn-primary btn-block" %>
<br/>

<div class="panel panel-custom full">
  <div class="panel-heading">
    <p>結果</p>
  </div>
  <div class="panel-body" style="text-align: center;">
    <strong>
      <%= @season.games.map(&:winning).count {|a| a == 0 } %>勝
      <%= @season.games.map(&:winning).count {|a| a == 1 } %>負
      <%= @season.games.map(&:winning).count {|a| a == 2 } %>引き分け
      <%
        b = @season.pitcher_total_results.map(&:remorse_point).inject(:+)
        c = @season.pitcher_total_results.map(&:pitching_number).inject(:+)
        d = (b * 9).quo(c).to_f.round(2)
      %>
      防御率：<%= d %>
      <%
        a = @season.games.map(&:at_bats).inject(:+)
        t = @season.games.map(&:single).inject(:+) +
          @season.games.map(&:double).inject(:+) +
          @season.games.map(&:triple).inject(:+) +
          @season.games.map(&:home_run).inject(:+)
      %>
      打率：<%= sprintf( "%.3f", t.quo(a).to_f.round(3)) %>
    </strong>
  </div>
</div>

<!-- 試合 -->
<%= render "results/games" %>
<!-- 投手 -->
<%= render "results/pitcher_results" %>
<!-- 野手 -->
<%= render "results/results" %>