<div class="panel panel-custom session">
  <div class="panel-heading">
    <p>ユーザー新規作成</p>
  </div>
  <div class="panel-body">
    <%= form_for @user, url: :confirm_user_identity, method: :post do |f| %>
      <p>
        <%= format_error_message(@user, :select_user_name, f).html_safe %>
        <% full_user = User.where(created: false) %>
        <%= f.select :select_user_name, full_user.map{|u| [u.display_name, u.id]},
          { include_blank: "ユーザーを選択" }, { class: "form-control" } %>
      </p>
      <p>
        <%= f.check_box :new_user_name %>
        <%= f.label :new_user_name, "新規作成" %>
      </p>
      <p>
        <%= format_error_message(@user, :login_name, f).html_safe %>
        <%= f.text_field :login_name, placeholder: "ログイン名", class: "form-control" %>
      </p>
      <p>
        <%= format_error_message(@user, :display_name, f).html_safe %>
        <%= f.text_field :display_name, placeholder: "表示名", class: "form-control" %>
      </p>
      <p>
        <%= format_error_message(@user, :password, f).html_safe %>
        <%= f.password_field :password, placeholder: "パスワード", class: "form-control" %>
      </p>
      <p>
        <%= format_error_message(@user, :password_confirmation, f).html_safe %>
        <%= f.password_field :password_confirmation, placeholder: "パスワード(確認)", class: "form-control" %>
      </p>
      <p><%= submit_tag "作成", class: "btn label-custom" %></p>
    <% end %>
  </div>
</div>